*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 20px;
}

.container{
    /* min-width: 40%; */
    min-width: 540px;
    height: 70%;
    /* background: linear-gradient(lightblue, powderblue, rgb(121, 184, 205)); */
    background: linear-gradient(rgba(220, 218, 218, 0.578), rgba(220, 217, 217, 0.664), rgba(220, 218, 218, 0.578));
    padding: 20px;
    box-shadow:  2px 3px 22px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

#title{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.your_balance h4{
    font-size: 22px;    
    font-weight: normal;
}

.your_balance h3{
    font-size: 30px;
    font-weight: bold;
    color: red;
}

/* ------------- Book ------------- */
.book {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 10px 22px;
}

.income, .expense{
    text-align: center;
    width: 50%;
}

.book #income , .income p {
    color:#22c55e;
}

.book #expense , .expense p {
    color:#ef4444;
}

.income h4, .expense h4{
    font-weight: normal;
}

.income p, .expense p{
    font-weight: 900;
    font-size: 24px;
}

.income{
    border-right: 1px solid black;
}

/* ------------- History ------------- */
.history_container{
    margin-top: 10px;
}

.history_title, .transaction_title{
    padding-block: 5px;
    border-bottom: 1px solid black;
}

.history_list{
    margin-top: 5px;
    min-height: 150px;
    max-height: 150px;
    overflow-y: scroll;
}

.history_list p{
    font-size: 18px;
    font-weight: 500;
}

.history_details{
    display: flex;
    background-color: #ffffff7b;
    padding: 5px;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 4px;
}

.history_list::-webkit-scrollbar{
    background-color: transparent;
    background-color: rgb(163, 160, 160);
    border-radius: 12px;
}

.history_list::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 12px;
    width: 2px;
}

/* ------------- Transaction ------------- */
.transaction_container{
    margin-top: 10px;
}
.transaction_container .label{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
} 

.transaction_container input{
    padding: 8px;
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 5px;
}

input{
    border-radius: 4px;
}

/* ------------- Buttons ------------- */
.buttons{
    margin-top: 1%;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons button{
    width: 48%;
    height: 90%;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

#income_btn{
    background: #22c55e;
}

#spent_btn{
    background: #ef4444;
}




/* ------------- Responsive ------------- */

@media (max-width: 540px)  {
    .container{
        /* min-width: 40%; */
        min-width: 340px;
        height: 70%;        
        padding: 20px;
    }    
}

@media (max-width: 360px)  {
    .container{
        /* min-width: 280px; */
        width: 100%;
        height: 70%;        
        padding: 20px;
    }    
    #title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .your_balance h4{
        font-size: 18px;    
    }
    
    .your_balance h3{
        font-size: 24px;
    }
}
